{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe_object.title }}- Scrumptious Recipes</title>
    <link rel="stylsheet" href="{% static "css/recipes.css" %}>
</head>
<body>
<header>
    <nav>
        <a href="list.html"> Main page </a>
    </nav>
</header>
<main>
    <h1> {{recipe_object.title}} </h1>
    <img src="{{ recipe_object.picture}}" height="200">
    <div> 4.3 stars</div>
    <p> {{recipe_object.description}}</p>
    <h2> Ingredients</h2>
    <table>
        <thead>
            <tr>
                <th> Amount</th>
                <th> Food item</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1 cup </td>
                <td> Green beans </td>
            </tr>
            <tr>
                <td>3 ears</td>
                <td> Fresh corn</td>
            </tr>
                <td> 8</td>
                <td> Corn Tortillas</td>
            <tr>
                <td> 0.5 cups </td>
                <td> Cotija cheese </td>
            </tr>
        </tbody>
    </table>
    <h2> Steps </h2>
    <ol>
        <li> Blanch the green beans</li>
        <li>Grill the green beans and the ears of corn</li>
        <li> Chop the green beans</li>
        <li> Slice the corn off the cob</li>
        <li> Grill the tortillas</li>
        <li> Assemble the tacos with veggies, salsa, and cheese</li>
    </ol>
</main>
<footer>
    <div> Made with love by Scrumptious Recipes</div>
</footer>
</body>
</html>
