font-family: 'Roboto', sans-serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding-top: 43px;
    padding-bottom:54px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: aliceblue;
}
nav {
    border-bottom: 1px black;
    padding: 16px;
    background-color:#62A632;
}

html {
    font-family: 'Roboto', sans-serif;
}

a:hover {
    background-color:green;
}

a, u {
    text-decoration:none;
}

.my-grid {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
}

.has-blue-background {
    background-color: blueviolet;
    border: 1px solid #62A632;
}
